<?xml version='1.0'?>
<model>
  <name>athena</name>
  <version>0.1.0</version>
  <author>
    <name>Joana Coelho</name>
    <email>id8667@alunos.uminho.pt</email>
  </author>
  <sdf>urdf/model.urdf</sdf>
  <description>
    This model approximates the ATHENA hexapod robot, using simple shapes.
  </description>
</model>
